::shadow * {
	box-sizing: border-box;
}

#app {
	--border-radius: 12px;
	--transition: 0.15s;

	--color-primary: #ffffff;
	--color-primary-muted: #eeeff0;
	--color-primary-hover: #e7e7e7;
	--color-primary-active: #bdbdbd;
	--color-accent: #6b3c9b;
	--color-accent-hover: #844dba;
	--color-accent-disabled: #6b3c9b33;
	--color-accent-active: #5b2f87;
	--color-text-on-primary: #3b3c3e;
	--color-text-on-primary-dark: #1b1c1e;
	--color-text-on-primary-light: #5b5c5e;
	--color-text-on-primary-anchor: #0f75b8;
	--color-text-on-accent: #ffffff;
	--color-text-on-accent-disabled: #1b1c1e5c;
	--color-border: #bcbcbd;
}

#app {
	font-size: 16px;
	line-height: 1.6rem;
	background-color: var(--color-primary);
	color: var(--color-text-on-primary);
}
#app,
textarea,
::placeholder {
	font-family: 'Inter', sans-serif;
}

::placeholder {
	color: var(--color-text-on-primary-light);
	opacity: 1;
}

.hidden {
	display: none !important;
}

.screen-wide {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.Container {
	padding: 0 16px;
	max-width: 576px;
	margin: 0 auto;
}

.Button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--color-accent);
	color: var(--color-text-on-accent);
	line-height: 1.5rem;
	font-weight: 500;
	text-transform: capitalize;
	transition: background-color var(--transition);
}
.Button:not(:disabled):hover {
	background-color: var(--color-accent-hover);
}
.Button:not(:disabled):active {
	background-color: var(--color-accent-active);
}
.Button:disabled {
	background-color: var(--color-accent-disabled);
	color: var(--color-text-on-accent-disabled);
}
.Button--secondary {
	border: 1px solid var(--color-border);
	background-color: var(--color-primary);
	color: var(--color-text-on-primary-dark);
}
.Button--secondary:not(:disabled):hover {
	background-color: var(--color-primary-hover);
}
.Button--secondary:not(:disabled):active {
	background-color: var(--color-primary-active);
}
.Button--text {
	padding: 0;
	border: none;
	background: none;
	color: var(--color-text-on-primary-anchor);
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 1px;
}
.Button--text:not(:disabled):hover {
	background: none;
}
.Button--full {
	width: 100%;
}

.AppBar {
	padding: 1.2rem 0.4rem;
	color: var(--color-text-on-primary-dark);
}

.AppContent {
	padding: 10px 0;
}

.IconAdornment {
	display: flex;
	gap: 0.7rem;
	align-items: center;
}

.ViewTitle {
	font-size: 1.25rem;
	line-height: 1.875rem;
	font-weight: 500;
}

.TextField {
	width: 100%;
	padding: 8px 12px;
	margin-bottom: 1.5rem;
	border-radius: var(--border-radius);
	background-color: var(--color-primary-muted);
}
.TextField__input {
	width: 100%;
	border: none;
	background-color: transparent;
}

.CompositionPanel {
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: var(--color-primary-muted);
	box-shadow: 0px 0px 16px 0px #00000014;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.CompositionPanel__form {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.CompositionPanel__header {
	display: flex;
	justify-content: space-between;
}
.CompositionPanel__title {
	font-weight: 500;
}
.CompositionPanel__field {
	width: 100%;
	border: 2px solid var(--color-primary-muted);
	border-radius: var(--border-radius);
	padding: 0.625rem 1rem;
	transition: border-color var(--transition);
}
textarea.CompositionPanel__field {
	padding-bottom: 1.5rem;
	min-height: 11rem;
}
.CompositionPanel__field:focus {
	border-color: var(--color-text-on-primary-dark);
}
.CompositionPanel__submit-field {
	position: relative;
}
.CompositionPanel__submit-button {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

.NotePanel {
	margin: 1.5rem 0;
}
.NotePanel__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.Note {
	border-radius: var(--border-radius);
	padding: 0.75rem;
	box-shadow: 0px 4px 16px 0px #00000012;
	font-size: 0.875rem;
}
.Note__header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 1rem;
	margin-bottom: 0.5rem;
}
.Note__title {
	font-weight: 500;
	color: var(--color-text-on-primary-dark);
}
.Note__title,
.Note__body {
	overflow: hidden;
	text-overflow: ellipsis;
}
.Note__date {
	font-size: 0.75rem;
	margin-top: 0.3rem;
	color: var(--color-text-on-primary-light);
	text-transform: capitalize;
}
.Note__actions {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}
.Note__action {
	background: none;
	border: none;
}

.Disclaimer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.25rem;
}
.Disclaimer__icon {
	margin-bottom: 1rem;
}
.Disclaimer__title {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.875rem;
	margin-bottom: 0.75rem;
	color: var(--color-text-on-primary-dark);
}
.Disclaimer__description {
	text-align: center;
	margin-bottom: 1.5rem;
}

.CircledIcon {
	position: relative;
	width: 64px;
	aspect-ratio: 1;
	background-color: var(--color-primary-muted);
	border-radius: 50%;
}
.CircledIcon__inner {
	width: 85%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--color-text-on-primary-dark);
}
.CircledIcon__inner,
.CircledIcon__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
